.order-container{
  padding: 0 200px;
}
.your-order{
  font-size: 35px;
  margin: 20px 0;
}
.order-placed div{
  font-size: 15px;
  /* margin-bottom: 10px; */ 
}

.order-placed select {
  padding: 3px 10px;
  font-size: 14px;
  border: 1px solid var(--secondary-color);
  margin-left: 10px;
  border-radius: 5px;
  color: var(--secondary-color);
}

.order-card-top {
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    margin: 15px 0;
}

.order-id {
  border-radius: 6px;
  text-align: right;
  padding: 5px 10px;
  background-color: var(--secondary-color);
  border: none;
  border: 1px solid var(--secondary-color);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #fff;
}

.order-card-head{
  padding: 15px 20px;
}

.order-card-img img{
  width: 100%;
}

.order-lorem{
  font-size: 25px;
  margin-bottom: 5px;
}
.order-para{
  font-size: 14px;
  margin-bottom: 10px;
}
.order-placed div{
  font-size: 15px;
  font-weight: 600;
}
.order-placed p{
  font-size: 13px;
}

.order-cancel-track{
  margin-bottom: 5px;
  text-align: center;
}
.order-cancel-track button{
  font-size: 15px;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #fff;
  width: 100%;
}

.order-cancel-track button:hover{
  background-color: var(--secondary-color);
  color: #fff;
}