 .shopping-bag{
  margin: 10px 0;
  color: #f4f4f4;
 }
 .shopping-cart-img{
  height: 170px; 
  padding: 5px 10px;
 }
 .shopping-beg-top {
  padding: 20px 15px;
  border-top: 1px solid #000;
  padding-top: 60px;
}
.cart-plus-minus-head{
  justify-content: center;
}
.cart-emp{
  color: #f4f4f4;
  text-align: center;
  margin-top: 13%;
}
.cart-pd-top{
  padding-top: 20px;
}
 .shopping-cart-img img{ 
  width: 100%; 
  height: 100%;
 }
 .shopping-jbl-product div {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #f4f4f4;
}
.shopping-jbl-product .shopping-jbl-desc{
  font-weight: 500;
}
.cart-val{
  margin: 0 10px;
  font-size: 15px;
  font-weight: 600;
  color: #f4f4f4;
}
.cart-plus-minus-head{
  margin-bottom: 10px;
}
.cart-minus, .cart-plus{
  font-size: 15px;
  color: #000;
  background-color: var(--secondary-color);
  padding: 2px 8px;
  border-radius: 20px;
  cursor: pointer;
}
.cart-remove{
  margin-top: 130px;
}
.line-through{
  text-decoration: line-through;
  font-weight: 500 !important;
}
.loading-cart{
  color: #f4f4f4;
  font-size: 25px;
}
.cart-remove button{
  border: none;
  outline: none;
  font-size: 14px;
  text-decoration: underline;
  background-color: #353535;
  color: #f4f4f4;
  cursor: pointer;
}
.apply-coupan div{
  margin-right: 5px;
  color: var(--secondary-color);
}
.yellow{
  color: var(--secondary-color);

}
.cart-input-top {
  position: relative;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  margin: 10px 0;
}
.cart-input-top input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 15px;
}
.cart-input-arrrow {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 8px 12px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  cursor: pointer;
}
.white{
  color: #fff;
}
.black{
  color: #000;
}
.cart-order{
  font-size: 14px;
  color: #f4f4f4;
}
.order-subtotal{
  margin: 15px 0;
}

.order-subtotal div{
  font-size: 14px;
  color: #f4f4f4;
}
.order-subtotal-mid div{
  font-size: 14px;
}
.order-total{
  border-top: 1px solid #000000;
  padding: 10px 0;
}

.cart-go-to button{
  border: none;
  outline: none;
  padding: 10px 15px;
  background-color: var(--secondary-color);
  color: #000;
  font-size: 15px;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}