.coupan-top-head{
  padding: 30px 100px;
}
.your-coupan {
  font-size: 35px;
  margin-bottom: 20px;
}
.coupan-card-head{ 
  border: 2px solid var(--secondary-color);
    padding: 15px 20px;
    border-radius: 20px;
    margin-bottom: 15px;
}
.coupan-img img{
  width: 100%;
}
.coupan-text-head div:first-of-type{
  font-size: 15px;
}
.coupan-text-head p{
  font-size: 15px;
  font-weight: 600;
  margin: 10px 0;
}
.apply-btn {
  text-align: right;
  margin-top: 50px;
}
.apply-btn button {
  padding: 10px 40px;
  outline: none;
  background-color: var(--secondary-color);
  color: #fff;
  font-size: 15px;
  border-radius: 20px;
  border: none;
}
